---
customization:
  extraKernelArgs:
    - amd_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
  systemExtensions:
    officialExtensions:
      - siderolabs/amd-ucode # AMD CPU microcode
      - siderolabs/amdgpu # AMD iGPU (Radeon Vega)
      - siderolabs/kata-containers # ARC runners
